:root {
  --crypto-color-primary-black: #000;
  --crypto-color-primary-white: #fff;

  --crypto-bs-indigo: #6610f2;
  --crypto-bs-purple: #6f42c1;

  --crypto-color-background-1: #fcfdfe;
  --crypto-color-background-2: #ffffff;
  --crypto-color-surface-1: #ffffff;
  --crypto-color-surface-2: #f8fafd;
  --crypto-color-text-primary: #0d1421;
  --crypto-color-text-secondary: #616e85;

  --crypto-color-gray-100: #f8fafd;
  --crypto-color-gray-200: #eff2f5;
  --crypto-color-gray-300: #cfd6e4;
  --crypto-color-gray-400: #a6b0c3;
  --crypto-color-gray-500: #808a9d;
  --crypto-color-gray-600: #616e85;

  --crypto-font-weight-300: 300;
  --crypto-font-weight-400: 400;
  --crypto-font-weight-500: 500;
  --crypto-font-weight-600: 600;
  --crypto-font-weight-700: 700;
  --crypto-font-weight-900: 900;

  --box-shadow: 0px 0px 2px rgba(128, 138, 157, 0.12),
    0px 0px 24px rgba(128, 138, 157, 0.14);
  --tiny-box-shadow: 0px 4px 24px rgba(88, 102, 126, 0.08),
    0px 1px 2px rgba(88, 102, 126, 0.12);
}

body {
  margin: 0;
  padding: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-ellipsis--2 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.text-ellipsis--3 {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}
